@import '../../../App.scss';

.fashion {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 640px;
        border-radius: 15px;
        overflow: hidden;
    }

    &__main {
        display: flex;
        align-items: center;
        align-items: center;
        color: #fff;
        background-image: url("../../../img/hero/fashion/01.png");
        padding: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        max-width: 450px;
        margin-inline: auto;
    }

    &__title {
        font-size: clamp(1.375rem, 1.161rem + 1.07vw, 2.125rem);
        font-weight: 800;
        line-height: 1.4;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
    }

    &__btn {
        display: block;
        padding: 12px 44px;
        border-radius: 8px;
        background: #FFF;
        transition: all 0.3s ease 0s;

        span {
            color: #000;
        }

        &:hover {
            background-color: #000;

            span {
                color: #fff;
            }

        }
    }

    &__right {
        position: relative;
    }

    &__image {
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px) {
    .fashion {
        &__content {
            grid-template-columns: initial;
            min-height: initial;
        }

        &__main {
            min-height: 250px;
            padding: 40px 20px;
        }

        &__right {
            display: none;
        }
    }
}