@import '../../../../App.scss';

.wishlist {
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.wishlist-inner {
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EDEEF2;
        padding-bottom: 30px;
    }

    &__delete {
        position: relative;
        width: 22px;
        height: 22px;
        cursor: pointer;

        .horizontal,
        .vertical {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center center;
        }

        .horizontal {}

        .vertical {}
    }

    &__image {
        width: min(100%, 150px);
        height: min(100%, 150px);
        object-fit: cover;
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        color: #3C4242;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.44px;
    }

    &__price {
        color: #807D7E;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.44px;
    }

    &__button {
        padding: 14px 29px;
        border-radius: 8px;
        background: #8A33FD;
        cursor: pointer;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }
}

@media screen and (max-width: 768px) {
    .wishlist {
        &__inner {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            justify-items: center;
            gap: 50px;

            &>div {
                max-width: 350px;
            }
        }

        &-inner {
            &__image {
                width: 100%;
                height: auto;
            }
        }
    }
}