@import '../../App.scss';

.info {
    &__navigation {
        display: flex;
        column-gap: 35px;
        color: #807D7E;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;

        div {
            color: #3C4242;
        }

        a {
            position: relative;

            &::after {
                content: ">";
                position: absolute;
                top: 0;
                right: -20px;
                transition: right 0.3s;
            }

            &:hover {
                &::after {
                    right: -15px;
                }
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        color: #807D7E;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.28px;

        a {
            color: #8A33FD;
            font-weight: 600;
        }
    }

    margin-bottom: 50px;
}

.cart {
    .container {
        overflow: auto;
    }

    &__details {
        display: grid;
        grid-template-columns: minmax(400px, 2fr) repeat(5, minmax(150px, 1fr));
        align-items: center;
        text-align: center;
        color: #fff;
        height: 76px;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 70px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3C4242;
            height: 100%;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 120px;
    }
}

.product-cart {
    display: grid;
    grid-template-columns: minmax(400px, 2fr) repeat(5, minmax(150px, 1fr));
    place-items: center;
    text-align: center;
    row-gap: 100px;
    margin-bottom: 50px;

    &:not(:last-child) {
        padding-bottom: 50px;
        border-bottom: 1px solid #BEBCBD;
    }

    &__details {
        display: grid;
        grid-template-columns: 105px 1fr;
        column-gap: 20px;
        width: 100%;
        overflow: hidden;
    }

    &__image {
        width: 105px;
        height: 120px;
        display: block;
        object-fit: cover;
        border-radius: 8px;
    }

    &__info {
        color: #807D7E;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
    }

    &__title {
        color: #3C4242;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.36px;
        margin-bottom: 9px;
    }

    &__color {
        margin-bottom: 5px;
    }

    &__price {
        color: #3C4242;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
    }

    &__quantiy {
        background-color: #F6F6F6;
        border-radius: 12px;
        width: 100px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            background: none;
            color: #807D7E;
            cursor: pointer;

        }

        #decrement {
            transform: translateY(-1px);
        }
    }

    &__shipping {
        color: #BEBCBD;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.36px;
    }

    &__totalprice {
        color: #3C4242;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
    }

    &__action {
        cursor: pointer;
    }
}

.checkout {
    background: #F6F6F6;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-items: center;
    }

    &__price {
        background: #F3F3F3;
        height: 100%;
        min-width: 280px;
        width: 100%;
        max-width: 500px;
        padding-block: 40px;
        padding-inline: 90px;
    }
}

.discount-inner {
    &__title {
        color: #3C4242;
        font-size: 24px;
        font-weight: 600;
        margin-top: 30px;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__subtitle {
        color: #807D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
    }

    &__input {
        margin-bottom: 37px;
        height: 43px;

        button {
            text-align: center;
            height: 100%;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            padding: 0 31px;
            background-color: #8A33FD;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            transform: translateX(-3px);
        }

        input {
            height: 100%;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            outline: none;
            padding: 0 15px;
            font-size: 15px;
        }
    }

    &__button {
        display: inline-block;
        color: $mainColor;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        padding: 12px 49px;
        border-radius: 8px;
        border: 1px solid #BEBCBD;
        background: #FFF;

    }
}

.price-inner {
    position: relative;
    min-height: 367px;

    &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #807D7E;
        position: absolute;
        bottom: 146px;
        left: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $mainColor;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.44px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:nth-child(2) {
            margin-bottom: 40px;
        }

        &:nth-child(3) {
            margin-bottom: 100px;
            font-weight: 600;
        }
    }


    &__button {
        color: #fff;
        padding: 12px 0;
        text-align: center;
        text-align: center;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        background: #8A33FD;
        width: 235px;
        margin: 0 auto;
        cursor: pointer;

    }
}

.inner-cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    text-align: center;
    margin: 0 auto;
}

.emptyImage {
    display: block;
    object-fit: contain;
    width: 100%;
    max-width: fit-content;
}

.empty-text__title {
    margin-bottom: 12px;
    line-height: 33.39px;
    font-weight: 600;
    font-size: 34px;
}

.empty-text__subtitle {
    line-height: 15.71px;
    font-weight: 400;
    font-size: 16px;
    color: #807D7E;
}

.emptyButton {
    padding: 12px 0;
    width: 246px;
    background-color: #8A33FD;
    border-radius: 8px;

    span {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.6px;
    }
}

@media screen and (max-width: 1024px) {
    .checkout {
        &__content {
            grid-template-columns: 1fr;
        }

        &__price {
            padding-block: 20px;
            padding-inline: clamp(1.25rem, -0.739rem + 9.94vw, 5.625rem);
        }
    }

    .discount-inner {
        width: clamp(17.5rem, 11.25rem + 31.25vw, 31.25rem);

        &__input {
            height: auto;

            label {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            input,
            button {
                width: clamp(17.5rem, 14.091rem + 17.05vw, 25rem);
                border-radius: 12px;
                height: 46px;
                display: block;
                margin-inline: auto;
            }

            button {
                transform: none;
            }
        }

        &__button {
            width: clamp(17.5rem, 14.091rem + 17.05vw, 25rem);
            margin-inline: auto;
            display: block;
        }
    }

}