@import '../../../App.scss';

.discount {

    &__blocks {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(1.25rem, -0.061rem + 2.73vw, 2.5rem);
    }

    &__block {
        display: flex;
        align-items: center;
        padding-inline-start: 30px;
        position: relative;
        min-height: 356px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 20%);

        img {
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #fff;
    }

    &__overtitle {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.251px;
    }

    &__title {
        font-size: clamp(1.375rem, 0.518rem + 1.79vw, 2.125rem);
        font-weight: 800;
        line-height: 1.2;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.251px;
    }

    &__link {
        font-size: clamp(1rem, 0.714rem + 0.6vw, 1.25rem);
        font-weight: 800;
        line-height: 1.2;
        text-decoration-line: underline;
        color: inherit;
    }
}

@media (max-width: $breakpoint992) {
    .discount {
        &__blocks {
            grid-template-columns: 1fr;
        }

        &__block {
            padding-inline-start: clamp(1.25rem, -1.131rem + 11.9vw, 6.25rem);
        }
    }
}