@import '../../../App.scss';

.brands {
    text-align: center;
    color: #fff;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-radius: 12px;
        background: $mainColor;
        padding-block: 50px;
        padding-inline: clamp(1.25rem, -0.179rem + 7.14vw, 6.25rem);
    }

    &__title {
        font-size: clamp(1.625rem, 1.196rem + 2.14vw, 3.125rem);
        font-weight: 800;
        line-height: normal;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;

        span {
            color: #FBD103;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 40px;
    }

    &__item {
        position: relative;
        border-radius: 12px;
        height: 85px;
        width: 100%;
        background: #FFF;
        cursor: pointer;
        overflow: hidden;

        img {
            padding: 10px 20px;
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            object-fit: contain;
        }
    }
}