@import '../../../App.scss';

.limelight {

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 50px;
    }

    .card-content {
        position: relative;
        cursor: pointer;

        &__image {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__fav {
            position: absolute;
            right: 20px;
            top: 26px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__name {
            color: #3C4242;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 5px;
        }

        &__brand {
            color: #807D7E;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
        }

        &__price {
            color: #3C4242;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 16px;
            border-radius: 8px;
            background: #F6F6F6;
        }
    }
}